<body>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h1 style="text-align: center">Contactos</h1>
      </div>
      <div class="panel-body">
          <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 style="text-align: center">
                        <i class="pi pi-globe" ></i>
                        Ubicación
                    </h2>
                </div>
                <div class="panel-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.901331795454!2d-78.48572277542789!3d-0.16051368003299263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b04095aae09%3A0xd00c860da202a80c!2sIlepsa!5e0!3m2!1ses-419!2sec!4v1562532510938!5m2!1ses-419!2sec" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 style="text-align: center">
                        <i class="pi pi-envelope" ></i>
                        Números y correos
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                            <div class="col-md-4 text-center">
                                <i class="pi pi-mobile" style="font-size: 3em"></i>
                            </div>
                            <div class="col-md-8">
                              <p> <strong> Teléfonos</strong></p>
                              <p>(593 02) 2463-335, 2463-336</p>
                              <p>Fax: (593 02) 2463-337</p>
                            </div>
                    </div>
                    <br>
                    <div class="row">
                            <div class="col-md-4 text-center">
                                <i class="pi pi-envelope" style="font-size: 3em"></i>
                            </div>
                            <div class="col-md-8">
                              <p> <strong> Correo Electrónico</strong></p>
                              <p>ilepsa@uio.satnet.net</p>
                              <p>info@ilepsa.com.ec </p>
                            </div>

                    </div>
                </div>
            </div>
          </div>
          </div>
    </div>
</body>