<div class="row bg-danger text-white" style="padding: 20px;width: 100%;margin: 0px">
  <div class="col-md-4">
      <div class="col-md-2">
          <a class="navbar-brand" href="#" style="padding: 0px" routerLink="/home">
            <img src="../../assets/images/ilepsa_logo.jpg" height="100px" class="d-inline-block align-top" alt="">       
          </a>
      </div>
      <div class="col-md-10">
        <h4 class="text-center">I.L.E.P.S.A.</h4>
        <p>INDUSTRIA LICORERA EMBOTELLADORA DE PICHINCHA S.A. </p>
      </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-4 text-right">
        <i class="pi pi-info" style="font-size: 3em"></i>
    </div>
    <div class="col-md-8">
      <p>Teléfonos</p>
      <p>(593 02) 2463-335, 2463-336</p>
      <p>Fax: (593 02) 2463-337</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-4 text-right">
        <i class="pi pi-globe" style="font-size: 3em"></i>
    </div>
    <div class="col-md-8">
      <p>Dirección</p>
      <p>Av. El Inca E1-44 y Av. 10 de Agosto</p>
    </div>

  </div>
</div>