<body>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 style="text-align: center">
        Autenticación
      </h1>
    </div><div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default" >
            <div class="panel-heading">
              <h2 style="text-align: center">
                  <i class="pi pi-user" ></i>
                  Iniciar Sesión
              </h2>
            </div>
            <div class="panel-body" style="padding-top: 15%; padding-bottom: 15%;">
              <form action="">
                <div class="form-group">
                  <label for="emailLoginInput">E-mail:</label>
                  <input type="email" class="form-control" id="emailLoginInput" name="emailLoginInput" placeholder="E-mail" [(ngModel)]="emailLoginInput">
                </div>
                <div class="form-group">
                  <label for="passwordLoginInput">Contraseña:</label>
                  <input type="password" class="form-control" id="passwordLoginInput" name="passwordLoginInput" placeholder="Contraseña" [(ngModel)]="passwordLoginInput">
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-default btn-lg" (click)="iniciarSesion()">
                    <i class="pi pi-sign-in" ></i>
                    Iniciar Sesión
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 style="text-align: center">
                  <i class="pi pi-user-plus" ></i>
                  Registro
              </h2>
            </div>
            <div class="panel-body" style="padding-top: 10%">
              <form action="">
                <div class="form-group">
                  <label for="nombreInput">Nombre Completo:</label>
                  <input type="text" class="form-control" id="nombreInput" placeholder="Nombre completo" name="nombreInput" [(ngModel)]="nombreRegistro" required>
                </div>
                <div class="form-group">
                  <label for="idInput">Identificación:</label>
                  <input type="text" class="form-control" id="idInput" placeholder="Identificación" name="idInput" [(ngModel)]="identificacionRegistro" required>
                </div>
                <div class="form-group">
                  <label for="emailInput">E-mail:</label>
                  <input type="email" class="form-control" id="emailInput" placeholder="E-mail" name="emailInput" [(ngModel)]="emailRegistro" required>
                </div>
                <div class="form-group">
                  <label for="passwordInput">Contraseña:</label>
                  <input type="password" class="form-control" id="passwordInput" placeholder="Contraseña" name="passwordInput" [(ngModel)]="passwordRegistro" required>
                </div>
                <div class="form-group">
                  <label for="passwordConfirmInput">Confirmar contraseña:</label>
                  <input type="password" class="form-control" id="passwordConfirmInput" name="passwordConfirmInput" placeholder="Confirmar contraseña" [(ngModel)]="passwordConfirmRegistro" required>
                </div>
                <div class="text-center">
                  <button (click)="registrarUsuario()" type="button" class="btn btn-default btn-lg">
                    <i class="pi pi-user-plus" ></i>
                    Registrarse
                  </button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>