
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#" style="padding: 0px" routerLink="/home">
          <img src="../../assets/images/ilepsa_logo.jpg" height="100px" class="d-inline-block align-top" alt="">       
        </a>
    <ul class="nav  nav-pills nav-fill ">
      <li class="nav-item">
          <a class="nav-link btn btn-outline-danger" style="height: 100%;" routerLink="/home"><h2 style="height: 100%;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> <strong> I.L.E.P.S.A.</strong></h2></a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/home">
          <i class="pi pi-home" style="font-size: 3em"></i>
          <h4>Inicio</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/productos">
          <i class="pi pi-tags" style="font-size: 3em"></i>
          <h4>Productos</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/socios">
          <i class="pi pi-briefcase" style="font-size: 3em"></i>
          <h4>Socios</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/historia">
          <i class="pi pi-info" style="font-size: 3em"></i>
          <h4>Información</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/contactos">
          <i class="pi pi-comments" style="font-size: 3em"></i>
          <h4>Contactos</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/pedidos">
          <i class="pi pi-shopping-cart" style="font-size: 3em"></i>
          <h4>Pedidos</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/cuenta">
          <i class="pi pi-user" style="font-size: 3em"></i>
          <h4>Mi cuenta</h4>
        </a>
      </li>
    </ul>
  </div>
</nav>