<body>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">
          Acerca de nosotros
        </h1>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h2 style="text-align: center">
                <i class="pi pi-bookmark" ></i>
                Misión
              </h2>
          </div>
          <div class="panel-body">
            <p class="text-center">
                Satisfacer las necesidades  de nuestros  clientes y consumidores   con productos de alta calidad,  en un buen ambiente de trabajo, productividad, innovación y  profesionalismo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="text-align: center">
                  <i class="pi pi-eye" ></i>
                  Visión
                </h2>
            </div>
            <div class="panel-body">
              <p class="text-center">
                  “Una empresa  líder y confiable, por la calidad de sus  productos;  cuya meta es exportar por lo menos un 10% de las ventas, generando permanentemente beneficios para ILEPSA  y sus trabajadores.”
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 style="text-align: center">Historia</h2>
        </div>
        <div class="panel-body"><div class="container">
            <div class="text-center">
                <img src="../../assets/images/ilepsa_logo.jpg" height="150px" class="d-inline-block align-top" alt="">     
            </div>
            <br>
            <p class="text-center">
                ILEPSA, Industria Licorera Embotelladora de Pichincha S.A., se fundó un 27 de noviembre de 1959. Año en el cual un gremio de 65 cañicultores vieron la oportunidad de asociarse para crear su empresa. Esto da como resultado 55 años de experiencia en la producción y comercialización de licores.
              </p>
                <p class="text-center">
                  ILEPSA fue una de las primeras compañías en producir y comercializar aguardiente en el país, inició su producción con  licores de tradición como el Traguito y Gallito, que son aguardientes de caña, constituyéndose en los productos estrella de la empresa, hasta la presente fecha, pues  se han mantenido en el tiempo.
                 </p>
              <p class="text-center"> 
                  De allí nace su lema: “ TRAGUITO Y GALLITO UN PAR A TODO DAR “
                  </p>
              <p class="text-center">
                  En la actualidad y en el transcurso de los últimos 8 ocho años, la empresa diversificó su producción, con la elaboración de bebidas con base en productos lácteos y orgánicos, del Aguardiente puro pasó a las cremas de sabores.  Al momento contamos con licores dulces en 8 variedades: Amaretto, Curacao, Triple Sec,  Durazno, Menta, Café, Cacao y Lemonchelo, bajo la marca BARMAN  y, últimamente con la marca CARIBBEAN´S ISLAND la empresa también produce Ron, cuya base añeja fue importada de Centro América y tiene un añejamiento de diez años, aproximadamente. 
                  </p>
              <p class="text-center">
                  Todos los productos detallados anteriormente son de producción nacional, utilizando únicamente el 2% de insumos importados, eso significa que ILEPSA, está produciendo las cremas lácteo-alcohólicas con crema de leche y alcohol de origen nacional.
              </p>
        </div>
        </div>
      </div>

  </div>
</body>